/* [ RESTYLE TAG ]*/

body, html { width:100%; height: 100%;font-family: Poppins-Regular, sans-serif;}
body{display:flex; flex-direction: column;}
.form-group{text-align: inherit;}

i{margin: 0 0.5em;}
.btn-line{width:100%;text-align:right;}
.addBlock{
  margin: 1em 0;
  border: solid 1px #dbdbdb;
  padding: 1em;
  background-color:#f2f2f2;
  border-radius:5px;
}

.text-center{text-align: center;}
.center{text-align:center;}
#contentPage{ flex: 1; display: flex;}
div.dt-buttons{
    position:relative;
    float:right;
    margin: 0 1em;
}
.jumbotron{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.jumbnoLivre{
    background-image: url("../images/jumbolivres.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.jumboAdherents{
    background-image: url("../images/adh.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
}

.jumboIndex{
    background-image: url("../images/accueil.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff
}
.jumboRes{
    background-image: url("../images/res.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff
}

/* ############## GESTIONNAIRE DE FORMULAIRE ###################### */
.has-error > *{
    color:#B43D3D;
    border-color: #B43D3D;
}

/* ############## BOUTON D'AJOUT #################################  */
.btn-left-bloc{
    margin-bottom: 1em;
    text-align: right;
}
.buttonAddExtend {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.buttonAddExtend.btn {
  width: 15rem;
  height: auto;
}
.buttonAddExtend.btn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #5ebd6e;
  border-radius: 1.625rem;
}
.buttonAddExtend.btn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.buttonAddExtend.btn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.buttonAddExtend.btn .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.buttonAddExtend.btn .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.buttonAddExtend:hover .circle {
  width: 100%;
}
.buttonAddExtend:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
.buttonAddExtend:hover .button-text {
  color: #fff;
}

.notifyjs-corner{
    top: 4em !important;
}

